<app-sidebar  
    (toggleSidebar)="ToggleSidebar($event)" 
    [@slideInOutSidebar]="sidebarState">
</app-sidebar>

<app-main [sidebarState]="post.sidebarState"></app-main>

<!--<app-header></app-header>

<app-people></app-people>-->


<!--<div class="blubb">

    <input type="button" value="clear" (click)="title = ''"/>
    <input type="text" [(ngModel)]="title" />
    <input type="text" [value]="title" (input)="title = $event.target.value"  />
    <input type="text" bindon-ngModel="title" />
    <p>{{title}} </p>

    <br>

    <input type="button" value="count" (click)="RaiseCount()" />
    <p>{{_currentCount}} </p>

</div>-->



